* {
    margin: 0;
    padding: 0;
}

  body
{   background:#fcd5ce;
    background: -webkit-linear-gradient(to right, #f19882, #fae1dd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f19882, #fae1dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

/*menu-bar*/
header {
    width: 100%;
    height: 10vh;
}
nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(16, 82, 10, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
.nav-item{
    display: inline-block;
    padding: 0px 40px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.5s;
    transition-property: color, transform;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
/*Heading*/
.image{
    margin: 3rem 3rem 3rem 3rem;
}
/* image grid */

.img-container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  .img-container > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
  }
  
  .img-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    padding: 3rem;
    margin: 3rem 3rem;
    border-radius: 8px;
    /* background-color: rgb(212, 206, 204); */
    color: rgb(24, 19, 19);
  }

  .img-container h3{
      font-weight: 700;
      font-size: 2.5rem;
      padding: 2rem auto;
  }
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }


/* Statistics */

.stat{
    background:#ffa69e;
    background: -webkit-linear-gradient(to left,#f78781, #ffb4a2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f78781, #ffb4a2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(24, 19, 19);
    border-radius: 8px;
    padding: 3rem;
    margin: 3rem 3rem;
    
}

/*Footer*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.start{
  font-family: 'DotGothic16', sans-serif;
  font-size: 3.0rem;
}
.intro{
  font-family: 'Philosopher', sans-serif;
  font-size: 1.7rem;
}
.stat .image{
  padding-left: 50px;
}
.horse{
  padding-top: 50px;
  /* background-image: rose.jpg; */
}
/*cause*/
.about{
  padding: 130px 0;
}

.about .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.about .heading h2 span {
  color: #F24259;
}

.about .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.about h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 15px;
  padding: 0;
}

.about h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 8px 0;
}

.about h4 i {
  color: #F24259;
  margin-right: 10px;
}
/*community page*/
/* teams section */

.section-team {
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.title{
  font-weight: 700;
  font-size: 45px;
  color: white;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #f6f9ff;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background:linear-gradient(to left, #ee6846, #f19882);;
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding .3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}
.card {

    width: 300px;
    height: 300px;
    margin: 4rem 0;
    perspective: 500px;
}

.content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

}

.member-card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
}

.back {
    background-color: white;
    transform: rotateY(180deg);
    
}
.round {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.name-front {
    font-size: 1.5rem;
    padding: 5px;
}

.subsystem-name {
    padding-bottom: 10px;
}

.round-back {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 5px;
}

.name-back {
    font-size: 1rem;
    padding: 5px;
}

.description {
    
    text-align: left;
}

table {

    width: 1100px;

    margin: auto auto;

}